.moviesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
.wrapCard {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 60%;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px
}